* {
	box-siing: border-box;
	overflow-wrap: normal;
}

body .container {
	font-family: "OpenDyslexic", "Noto Emoji", "Verdana", "Trebuchet MS", "Arial", sans-serif;
}

p, ul, ol #definition_popup {
	font-family: inherit;
	line-height: 1.6;
}

nav {
	box-shadow: 0 0 2px 0px rgba(#000,0.35);
}

ul,
ol {
	list-style-position: outside;
	padding-left: 2em;
}

li {
	padding-bottom: 0.2em;
}

h1,
.container h2,
.container h3,
.container h4 {
	margin-bottom: 0.25em;
}

.container {
	padding: 1rem;

	h2,
	h3,
	h4 {
		margin-top: 0.5em;
	}
}

h1 {
	text-align: center;
}